<?xml version="1.0" ?>
<robot name="baxter" xmlns:xacro="http://www.ros.org/wiki/xacro">
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="baxter">
  <xacro:include filename="$(find baxter_description)/urdf/baxter.urdf" />
  <xacro:include filename="$(find baxter_description)/urdf/gazebo/baxter_gazebo.xacro" />
</robot>
