*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.cproject
.pydevproject
.pydevproject
*.swp
.svn
Makefile.rr
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CATKIN_IGNORE
catkin
catkin_generated
devel
test_results

# Files
baxter_description/urdf/baxter.sdf
baxter_description/urdf/baxter.urdf
baxter_description/urdf/baxter.gv
baxter_description/urdf/baxter.pdf