<?xml version="1.0" ?>
<robot name="baxter" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Arguments and Defaults-->
  <xacro:arg name="gazebo" default="false"/>

  <!-- Baxter Base URDF -->
  <xacro:include filename="$(find baxter_description)/urdf/baxter_base/baxter_base.xacro" />
  <!-- Gazebo Tags -->
  <xacro:if value="$(arg gazebo)">
      <xacro:include filename="$(find baxter_description)/urdf/gazebo/baxter.gazebo.xacro" />
  </xacro:if>
  <!-- Baxter Pedestal -->
  <xacro:include filename="$(find baxter_description)/urdf/pedestal/pedestal.xacro" />

  <!-- Left End Effector -->
  <xacro:include filename="$(find baxter_description)/urdf/left_end_effector.urdf.xacro" />

  <!-- Right End Effector -->
  <xacro:include filename="$(find baxter_description)/urdf/right_end_effector.urdf.xacro" />

</robot>
