<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="paddle_tip">
  <xacro:property name="pi" value="3.1415926535897931" />
  <xacro:macro name="finger_tip_xacro" params="parent_link reflect *joint_origin">
    <link name="${parent_link}_tip">
      <gravity>0</gravity>
      <visual>
        <origin rpy="0 0 ${pi*(reflect+1)/2}" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://baxter_description/meshes/electric_gripper/fingers/paddle_tip.DAE" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 ${pi*(reflect+1)/2}" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://baxter_description/meshes/electric_gripper/fingers/paddle_tip.DAE" />
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 ${pi*(reflect+1)/2}" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
      </inertial>
    </link>

    <joint name="${parent_link}_tip_joint" type="fixed">
      <xacro:insert_block name="joint_origin" />
      <parent link="${parent_link}"/>
      <child link="${parent_link}_tip"/>
    </joint>
  </xacro:macro>
</robot>
