<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="right_electric_gripper">
  <xacro:include filename="$(find baxter_description)/urdf/rethink_electric_gripper.xacro" />
  <xacro:rethink_electric_gripper side="right"
                                  gripper_side="r"
                                  l_finger="wide_extended"
                                  l_finger_slot="1"
                                  add_l_finger_tip="true"
                                  l_finger_tip="paddle_tip"
                                  r_finger="wide_extended"
                                  r_finger_slot="1"
                                  add_r_finger_tip="true"
                                  r_finger_tip="paddle_tip"/>

</robot>
